<div class="row">
    <h1>Proyectos Realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Barbería Alura</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima aspernatur aliquam quis in. Aliquam repellendus asperiores nulla accusantium quo repudiandae totam, autem vero voluptas veniam, eum, nihil rerum voluptatibus voluptate.</p>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="" class="img-fluid img-proyecto">
            </div>
        </div>
</div>
