<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sint eaque sequi doloribus recusandae delectus magni laboriosam quae mollitia. Illo beatae impedit cum culpa illum recusandae praesentium ipsum! Suscipit, quasi.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sint eaque sequi doloribus recusandae delectus magni laboriosam quae mollitia. Illo beatae impedit cum culpa illum recusandae praesentium ipsum! Suscipit, quasi.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo </h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sint eaque sequi doloribus recusandae delectus magni laboriosam quae mollitia. Illo beatae impedit cum culpa illum recusandae praesentium ipsum! Suscipit, quasi.
            </p>
        </ul>
    </div>
</div>
